[Unit]
Description=Simple_bot
After=syslog.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/san/Simple_bot
ExecStart=/home/san/Simple_bot/venv/bin/python3 /home/san/Simple_bot/bot.py
Environment=BOT_TOKEN=
KillMode=process
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target