[Unit]
Description=Simple_Bot
After=syslog.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/san/Simple_Bot
ExecStart=/home/san/Simple_Bot/venv/bin/python3 /home/san/Simple_Bot/bot.py
Environment=BOT_TOKEN=
KillMode=process
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target